/*CSS guidline sheet*/

body {
	background-color: #219EBC;
}
.nbar ul{
     list-style-type: none;
     background-color: #8ECAE6;
     overflow: hidden;
     text-align: center;
     border: 5px solid #023047;
 }
 .nbar a{
     color: #023047;
     text-decoration: none;
     padding-right: 20px;
     padding-left: 20px;
     display: block;
     text-align: center;
     font-family: "Marimpa", sans-serif;
     text-transform: uppercase;
     font-weight: bold;
 }
 .nbar a:hover{
     background-color: #4a798f;

 }
 .nbar li{
     float:left;
 }

/*Top bar, place under title*/
 hr.rounded {
 	border-top: 8px solid #023047;
 	border-bottom: none;
 	border-radius: 5px;
 }
 /*only use if needed to seperate elements/change of topic on page*/
 hr.dashed {
     border-top: 3px dashed #023047;
     border-bottom: none;
 }
 /*bottom bar, goes at bottom of page, change margin-top to whatevr looks best*/
 hr.bottom {
 	border-top: 8px solid #023047;
 	border-bottom: none;
 	border-radius: 5px;
 	margin-top: 400;
 }
/*For use directly under navbar, directly above top bar(hr.rounded) */
 .titleText {
     color: #FFB703;
     font-family: "Marimpa", sans-serif;
     font-size: 36px;
     text-align: center;
}