@font-face {
    font-family: "Marimpa";
    src: url("C:/Users/Gallo/OneDrive/Documents/GitHub/CS492/Web Page Code/Marimpa.ttf") format("truetype");
}


.navbar ul{
    list-style-type: none;
    background-color: #8ECAE6;
    overflow: hidden;
    text-align: center;
    border: 5px solid #023047;
}
.navbar a{
    color: #023047;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    text-align: center;
    font-family: "Marimpa", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar a:hover{
    background-color: #4a798f;
}    
.navbar li{
    float:left;
}
body {
    background-color: #219EBC;
  }
  
  h1 {
    color: #FFB703;
    text-align: center;
    font-family: "Marimpa", sans-serif;
    font-weight: bold;
    font-size: 48px;
  }
  h3{
    color: #FFB703;
    text-align: center;
    font-family: "Marimpa", sans-serif;
    font-size: 25px
  }
  p {
    color:#023047;
    text-align: center;
    font-family: "Marimpa", sans-serif;
    font-size: 20px;
  }
.pizza{
    width: 600px;
    height: auto;
    border: 2px solid #023047;
}
